body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error {
  border: 1px solid red;
}
.userForm {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  width: 400px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dataRow {
  display: flex;
  flex-direction: row;
}
.labelName {
  width: 150px;
}
.inputData {
  width: 250px;
}



form input[type="text"],
form select, form textarea {
  width: 100%;
  max-width: 200px;
  border-color: rgba(196, 196, 203, 0.563);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
}

form textarea {
  width: 100%;
  max-width: 400px;
  height: 80px;
}

form input[type="checkbox"],
form input[type="radio"] {
  margin-right: 10px;
}

form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.submit {
  margin-right: 10px;
  background-color: rgb(94, 94, 164);
  color: white;
  border: none;
}
.submit:disabled {
  background-color: rgba(161, 161, 211, 0.769);
}
.reset {
  border-color:rgba(72, 71, 134, 0.642);
  border-style:solid;
  border-width: 1px;
  color: rgba(72, 71, 134, 0.642);
}
.reset:disabled {
  border-color:rgba(161, 161, 211, 0.769);
}
.form-summary {
  margin-top:20px;
  padding: 20px;
  background-color: #f2f2f2;
  box-shadow: rgb(154, 158, 160) 3px 3px 6px 0px inset, rgba(213, 208, 208, 0.5) -3px -3px 6px 1px inset;
}
